<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				       http://www.springframework.org/schema/beans/spring-beans.xsd
				       http://code.alibabatech.com/schema/dubbo
				       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	
	<!-- dubbo起名，提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="clearing-calculation"/>
	
	<!-- 注册中心暴露服务地址 -->
	<dubbo:registry address="127.0.0.1:2181" />
	
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880"/>
	
	<!-- 通过maven依赖，再通过spring装配，不需要实例化 -->
	<bean id="dubboServer" class="org.clearing.commons.server.impl.ProDubboServer"></bean>
	
	<dubbo:service interface="org.clearing.commons.server.DubboService" ref="dubboServer" timeout="5400000"></dubbo:service>
	
</beans>